# Customer Lifestyle and Purchase Trend Segmentation

## Table of Contents <a id='back'></a>
- [Project Introduction](#project-introduction)
    - [Analysis Outline](#analysis-outline)
    - [Results](#results)
- [Importing Libraries and Opening Data Files](#importing-libraries-and-opening-data-files)
- [Data Wrangling](#data-wrangling)
    - [Duplicates](#duplicates)
    - [Missing Values](#missing-values)
    - [Formatting](#formatting)
    - [Removing Irrelevant Data](#removing-irrelevant-data)
- [Exploratory Data Analysis](#exploratory-data-analysis)
- [Conclusions and Reccomendations](#conclusions-and-reccomendations)
- [Dataset Citation](#dataset-citation)

## Project Introduction

[project intro]

### Analysis Outline

[Analysis Outline]

### Results

[Results]

[Back to Table of Contents](#back)

## Importing Libraries and Opening Data Files

In [1]:
# Importing the needed libraries for this assignment
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import folium
from geopy.geocoders import Nominatim
import requests

In [2]:
# Importing file for assignment
try:
    df = pd.read_csv('shopping_behavior_updated.csv', sep=',')
except:
    df = pd.read_csv('/datasets/shopping_behavior_updated.csv', sep=',')

[Back to Table of Contents](#back)

## Data Wrangling

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### Duplicates

In [4]:
# Checking for duplicates
df.duplicated().sum()

0

[Back to Table of Contents](#back)

### Missing Values

In [5]:
# Checking for null values
df.isna().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

[Back to Table of Contents](#back)

### Formatting

In [6]:
# Getting general information about the dataset
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [7]:
#checking for snakecase format
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [8]:
# Renaming column names to snake_case format
df = df.rename(columns={'Customer ID': 'customer_id',
                        'Age': 'age',
                        'Gender': 'gender',
                        'Item Purchased': 'item_purchased',
                        'Category': 'category',
                        'Purchase Amount (USD)': 'usd_total',
                        'Location': 'location',
                        'Size': 'size',
                        'Color': 'color',
                        'Season': 'season',
                        'Review Rating': 'customer_rating',
                        'Subscription Status': 'sub_status',
                        'Shipping Type': 'shipping_type',
                        'Discount Applied': 'discount_applied',
                        'Promo Code Used': 'promo_code_applied',
                        'Previous Purchases': 'previous_orders',
                        'Payment Method': 'payment_method',
                        'Frequency of Purchases': 'order_freq'})
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'usd_total', 'location', 'size', 'color', 'season', 'customer_rating',
       'sub_status', 'shipping_type', 'discount_applied', 'promo_code_applied',
       'previous_orders', 'payment_method', 'order_freq'],
      dtype='object')

In [9]:
df.head()

,customer_id,age,gender,item_purchased,category,usd_total,location,size,color,season,customer_rating,sub_status,shipping_type,discount_applied,promo_code_applied,previous_orders,payment_method,order_freq
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [10]:
# Converting all elements into snakecase format and removing all nonlegible characters
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = df[column].str.lower()
        df[column] = df[column].str.strip()
        df[column] = df[column].str.rstrip()
        df[column] = df[column].str.replace(' ', '_')
        df[column] = df[column].str.replace('[^a-z0-9_]', '')
        df[column] = df[column].astype('category')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3900 non-null   int64
 1   age                 3900 non-null   int64
 2   gender              3900 non-null   category
 3   item_purchased      3900 non-null   category
 4   category            3900 non-null   category
 5   usd_total           3900 non-null   int64
 6   location            3900 non-null   category
 7   size                3900 non-null   category
 8   color               3900 non-null   category
 9   season              3900 non-null   category
 10  customer_rating     3900 non-null   float64
 11  sub_status          3900 non-null   category
 12  shipping_type       3900 non-null   category
 13  discount_applied    3900 non-null   category
 14  promo_code_applied  3900 non-null   category
 15  previous_orders     3900 non-null   int64
 16  payment_method      3900 non-null   category
 17  order_freq          3900 non-null   category
dtypes: category(13), float64(1), int64(4)
memory usage: 207.8 KB

,customer_id,age,gender,item_purchased,category,usd_total,location,size,color,season,customer_rating,sub_status,shipping_type,discount_applied,promo_code_applied,previous_orders,payment_method,order_freq
0,1,55,male,blouse,clothing,53,kentucky,l,gray,winter,3.1,yes,express,yes,yes,14,venmo,fortnightly
1,2,19,male,sweater,clothing,64,maine,l,maroon,winter,3.1,yes,express,yes,yes,2,cash,fortnightly
2,3,50,male,jeans,clothing,73,massachusetts,s,maroon,spring,3.1,yes,free_shipping,yes,yes,23,credit_card,weekly
3,4,21,male,sandals,footwear,90,rhode_island,m,maroon,spring,3.5,yes,next_day_air,yes,yes,49,paypal,weekly
4,5,45,male,blouse,clothing,49,oregon,m,turquoise,spring,2.7,yes,free_shipping,yes,yes,31,paypal,annually

Observation:

- By converting string columns to snake_case and refining table data types, data usage has dropped 62.1%, from over 548.6 KB at the start to 207.8 KB. This optimization process will help reduce data costs and enhance performance as more data is added in the future.

In [11]:
discount = df[['discount_applied', 'promo_code_applied']]

print(discount.sample(10))
print(df['discount_applied'].value_counts())
print(df['promo_code_applied'].value_counts())

     discount_applied promo_code_applied
753               yes                yes
456               yes                yes
1198              yes                yes
99                yes                yes
2201               no                 no
116               yes                yes
1974               no                 no
789               yes                yes
3450               no                 no
1455              yes                yes
discount_applied
no     2223
yes    1677
Name: count, dtype: int64
promo_code_applied
no     2223
yes    1677
Name: count, dtype: int64

Observation:

- It appears the promo_code_applied column is a redundant duplicate of the discount_applied column, and can be removed to further reduce data usage

In [12]:
df['shipping_type'].unique()

['express', 'free_shipping', 'next_day_air', 'standard', '2-day_shipping', 'store_pickup']
Categories (6, object): ['2-day_shipping', 'express', 'free_shipping', 'next_day_air', 'standard', 'store_pickup']

In [13]:
# Many unique values are very similar and can be consolidated to simplify the analysis
df['shipping_type'] = df['shipping_type'].replace('express', 'paid_shipping').replace('next_day_air', 'paid_shipping').replace('standard', 'paid_shipping').replace('2-day_shipping', 'paid_shipping').replace('store_pickup', 'free_shipping')
df['shipping_type'].unique()

C:\Users\jason\AppData\Local\Temp\ipykernel_26792\1118386650.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['shipping_type'] = df['shipping_type'].replace('express', 'paid_shipping').replace('next_day_air', 'paid_shipping').replace('standard', 'paid_shipping').replace('2-day_shipping', 'paid_shipping').replace('store_pickup', 'free_shipping')

['paid_shipping', 'free_shipping']
Categories (2, object): ['paid_shipping', 'free_shipping']

In [14]:
df['payment_method'].unique()

['venmo', 'cash', 'credit_card', 'paypal', 'bank_transfer', 'debit_card']
Categories (6, object): ['bank_transfer', 'cash', 'credit_card', 'debit_card', 'paypal', 'venmo']

In [15]:
# Many unique values are very similar and can be consolidated to simplify the analysis
df['payment_method'] = df['payment_method'].replace('venmo', 'payment_service').replace('credit_card', 'credit_debit_card').replace('paypal', 'payment_service').replace('bank_transfer', 'cash').replace('debit_card', 'credit_debit_card')
df['payment_method'].unique()

C:\Users\jason\AppData\Local\Temp\ipykernel_26792\3976137506.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['payment_method'] = df['payment_method'].replace('venmo', 'payment_service').replace('credit_card', 'credit_debit_card').replace('paypal', 'payment_service').replace('bank_transfer', 'cash').replace('debit_card', 'credit_debit_card')

['payment_service', 'cash', 'credit_debit_card']
Categories (3, object): ['cash', 'credit_debit_card', 'payment_service']

In [16]:
df['order_freq'].unique()

['fortnightly', 'weekly', 'annually', 'quarterly', 'bi-weekly', 'monthly', 'every_3_months']
Categories (7, object): ['annually', 'bi-weekly', 'every_3_months', 'fortnightly', 'monthly', 'quarterly', 'weekly']

In [20]:
df['order_freq'] = df['order_freq'].replace('fortnightly', 14).replace('weekly', 7).replace('annually', 365).replace('quarterly', 91).replace('bi-weekly', 14).replace('monthly', 30).replace('every_3_months', 91)
df['order_freq'] = df['order_freq'].astype('int')
df['order_freq'].unique()

array([ 14,   7, 365,  91,  30])

[Back to Table of Contents](#back)

### Removing Irrelevant Data

In [22]:
# Removing columns we do not need for this analysis
df = df.drop(columns=['promo_code_applied'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       3900 non-null   int64
 1   age               3900 non-null   int64
 2   gender            3900 non-null   category
 3   item_purchased    3900 non-null   category
 4   category          3900 non-null   category
 5   usd_total         3900 non-null   int64
 6   location          3900 non-null   category
 7   size              3900 non-null   category
 8   color             3900 non-null   category
 9   season            3900 non-null   category
 10  customer_rating   3900 non-null   float64
 11  sub_status        3900 non-null   category
 12  shipping_type     3900 non-null   category
 13  discount_applied  3900 non-null   category
 14  previous_orders   3900 non-null   int64
 15  payment_method    3900 non-null   category
 16  order_freq        3900 non-null   int32
dtypes: category(11), float64(1), int32(1), int64(4)
memory usage: 214.7 KB

[Back to Table of Contents](#back)

## Exploratory Data Analysis

In [23]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       3900 non-null   int64
 1   age               3900 non-null   int64
 2   gender            3900 non-null   category
 3   item_purchased    3900 non-null   category
 4   category          3900 non-null   category
 5   usd_total         3900 non-null   int64
 6   location          3900 non-null   category
 7   size              3900 non-null   category
 8   color             3900 non-null   category
 9   season            3900 non-null   category
 10  customer_rating   3900 non-null   float64
 11  sub_status        3900 non-null   category
 12  shipping_type     3900 non-null   category
 13  discount_applied  3900 non-null   category
 14  previous_orders   3900 non-null   int64
 15  payment_method    3900 non-null   category
 16  order_freq        3900 non-null   int32
dtypes: category(11), float64(1), int32(1), int64(4)
memory usage: 214.7 KB

,customer_id,age,gender,item_purchased,category,usd_total,location,size,color,season,customer_rating,sub_status,shipping_type,discount_applied,previous_orders,payment_method,order_freq
0,1,55,male,blouse,clothing,53,kentucky,l,gray,winter,3.1,yes,paid_shipping,yes,14,payment_service,14
1,2,19,male,sweater,clothing,64,maine,l,maroon,winter,3.1,yes,paid_shipping,yes,2,cash,14
2,3,50,male,jeans,clothing,73,massachusetts,s,maroon,spring,3.1,yes,free_shipping,yes,23,credit_debit_card,7
3,4,21,male,sandals,footwear,90,rhode_island,m,maroon,spring,3.5,yes,paid_shipping,yes,49,payment_service,7
4,5,45,male,blouse,clothing,49,oregon,m,turquoise,spring,2.7,yes,free_shipping,yes,31,payment_service,365

What are the top-selling products/categories by demographic?

How do sales vary by region and season?

Which customer segments contribute the most revenue?

Can we group customers into meaningful segments?

In [25]:
df['customer_id'].nunique()

3900

In [24]:
df['order_freq'].value_counts()

order_freq
91     1147
14     1089
365     572
30      553
7       539
Name: count, dtype: int64

Observation:

-

[Back to Table of Contents](#back)

## Conclusions and Reccomendations

[Back to Table of Contents](#back)

## Dataset Citation

Zee solver. (2023, October). Consumer Behavior and Shopping Habits Dataset, Version 1. Retrieved September 23, 2025 from [Kaggle](https://www.kaggle.com/datasets/zeesolver/consumer-behavior-and-shopping-habits-dataset/data).

[Back to Table of Contents](#back)